<!doctype html>
<html>
  <head>
	<title>BirdNoise</title>
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js"></script>
  </head>
  <body>
	<div id="header">
	  {% if g.user %}
	  Logged in as <a href="{{ url_for('timeline.profile', id=g.user['id']) }}">
		{{ session['user_name'] }}
	  </a><br />
	  <a href="{{ url_for('auth.logout') }}">Logout</a>
	  {% else %}
	  <a href="{{ url_for('auth.login') }}">Login</a> <br />
	  <a href="{{ url_for('auth.register') }}">Register</a>
	  {% endif %}
	</div>
	{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
	{% endfor %}
	<div id="content">
	  {% block content %}{% endblock %}
	</div>
  </body>
</html>
