{% extends 'base.html' %}

{% block content %}
<div class="post">
  <a href="{{ url_for('timeline.profile', id=post['post_user']) }}">
	<b>{{ post['first_name'] }} {{ post['last_name'] }}</b>
  </a>
  {% if is_liked %}
  <a href="{{ url_for('timeline.unlike', id=post['post_id']) }}">♥</a>
  {% else %}
  <a href="{{ url_for('timeline.like', id=post['post_id']) }}">♡</a>
  {% endif %}
  <p>Timestamp: {{ post['post_time'] }}</p>
  <p>Likes: {{ like_count }}</p>
  <p>{{ post['content'] }}</p>
</div>
{% if g.user %}
<form method="post" action="{{ url_for('timeline.comment', id=post['post_id']) }}" >
  <input name="content" id="content" placeholder="Leave a comment..." required>
  <input type="submit" value="Comment">
</form>
{% endif %}
{% for comment in comments %}
<div class="comment">
  <p>{{ comment['content'] }}</p>
</div>
{% endfor %}
{% endblock %}
