<div id="post">
  {% if post['r_user'] %}
  <a href="{{ url_for('timeline.profile', id=post['r_user']) }}">
	<b>{{ post['r_first_name'] }} {{ post['r_last_name'] }}</b>
  </a>
  ⇋
  <a href="{{ url_for('timeline.profile', id=post['post_user']) }}">
	<b>{{ post['first_name'] }} {{ post['last_name'] }}</b>
  </a>
  {% else %}
  <a href="{{ url_for('timeline.profile', id=post['post_user']) }}">
	<b>{{ post['first_name'] }} {{ post['last_name'] }}</b>
  </a>
  {% endif %}
  {% if is_liked %}
  <a href="{{ url_for('timeline.unlike', id=post['post_id']) }}">♥</a>
  {% else %}
  <a href="{{ url_for('timeline.like', id=post['post_id']) }}">♡</a>
  {% endif %}
  <p>
	Time: {{ post['post_time'] }}, 
	Likes: {{ like_count }},
	<a href="{{ url_for('timeline.repost', id=post['post_id']) }}">Repost</a>
  </p>

  <p>{{ post['content'] }}</p>
</div>
