{% for post in posts %}
{% if post['repost_id'] %}
<div class="post" ic-get-from="{{ url_for('timeline.repost_view', id=post['repost_id']) }}"
	 ic-trigger-on="load">
</div>
{% else %}
<div class="post" ic-get-from="{{ url_for('timeline.post_view', id=post['post_id']) }}"
	 ic-trigger-on="load">
</div>
{% endif %}
{% endfor %}
