{% for post in posts %}
<div class="post">
  {% if post['reposter'] %}
  <a href="{{ url_for('timeline.profile', id=post['reposter']) }}">
	<b>{{ post['r_first_name'] }} {{ post['r_last_name'] }}</b>
  </a>
  ⇋
  <a href="{{ url_for('timeline.profile', id=post['post_user']) }}">
	<b>{{ post['first_name'] }} {{ post['last_name'] }}</b>
  </a>
  {% else %}
  <a href="{{ url_for('timeline.profile', id=post['post_user']) }}">
	<b>{{ post['first_name'] }} {{ post['last_name'] }}</b>
  </a>
  {% endif %}
  <p>Timestamp: {{ post['post_time'] }}</p>
  <p>{{ post['content'] }}</p>
  <p>
	<a href="{{ url_for('timeline.post', id=post['post_id']) }}">
	  View More
	</a>
	{% if g.user %}
	<a href="{{ url_for('timeline.repost', id=post['post_id']) }}">
	  Repost
	</a>
	{% endif %}
  </p>
</div>
{% endfor %}
