{% extends 'base.html' %}

{% block content %}

<h2>{{ user['first_name'] }} {{ user['last_name'] }}'s Profile</h2>
{% if following %}
<a href="{{ url_for('timeline.unfollow', id=user['id']) }}">Unfollow</a>
{% else %}
<a href="{{ url_for('timeline.follow', id=user['id']) }}">Follow</a>
{% endif %}

{% if g.user['id'] == user['id'] %}

{% include 'make_post.html' %}

{% endif %}

{% include 'postlist.html' %}

{% endblock %}
