body {
	background-color: #5555EE;
	padding: 0;
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
}

#header {
	width: 100%;
	height: 4em;
	background-color: #EEEEEE;
	text-align: right;
}

#header a {
	text-align: right;
}

.post {
	padding: .5em;
	margin: .5em;
	width: 24em;
	background-color: #EEEEEE;
	border-radius: 15px;
}

#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 36em;
}
